.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
}

.header__link:visited {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #2f80ed;
  opacity: 0.5;
}
